<%- include('partials/head') %>
<body>
   <%- include('partials/navbar') %>
     <h1>Your random number is: <%= rand %></h1>

     <% if(rand % 2 === 0){ %>
    <h2> THAT IS AN EVEN NUMBER </h2>
    <% } else { %>
    <h2>THAT IS AN ODD NUMBER</h2>
   <% } %>
   <h3>THAT NUMBER IS: <%= rand%2===0 ? 'EVEN' : 'ODD'  %> </h3>
</body>
</html>